[Desktop Entry]
Version=1.0
Type=Application
Name=MEDIPIPE
Comment=cfMeDIP-seq Analysis Pipeline
Exec=/home/dirk/medipipe_warp/launch_medipipe.sh
Icon=/home/dirk/medipipe_warp/resources/icons/medipipe_icon.png
Terminal=false
Categories=Science;Biology;
StartupNotify=true
StartupWMClass=medipipe
